################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BulkyBookWeb/appsettings.json
/BulkyBookWeb/appsettings.Development.json
